html {
background-color: #F1F1F2;
font-size: 100%;
}
body {
font-family: 'Raleway', sans-serif;
line-height: 1.4;
color: #333333
}
h1 {
font-family: 'Raleway', sans-serif;
font-weight: bold;
font-size: 3em;
line-height: 1.4;
color: #A1D6E2
}
h2 {
font-family: 'Raleway', sans-serif;
font-weight: bold;
font-size: 1.5em;
line-height: 1;
color: #1995AD
}
h3 {
font-family: 'Raleway', sans-serif;
font-size: 1 em;
line-height: 1.4;
color: #1995AD
}
a:link {
color:#1995AD;
}
a:visited {
color:#1995AD;
}
a:hover {
color:#A1D6E2;
}
a:active {
color:#1995AD;
}
image {
width: 25em;
}
img {
width: 50%;
}
